{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/tama-detail.css' %}"
/>
<script defer src="{% static 'js/tama-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="tama-container">
  <div class="tama-img">
    <img 
      src="{% static 'images/character.png' %}" 
      alt="character"
    >
  </div>
  <div class="tama-details">
    <h1>{{ tama.name }}</h1>
    <h2>A {{ tama.age }} year old tamagotchi</h2>
    <p>{{ tama.description }}</p>
    <div class="tama-actions">
      <a href="{% url 'tamas_update' tama.id %}" class="btn warn">Edit</a>
      <a href="{% url 'tamas_delete' tama.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

<div class="feedings-toy-container">
  <section class="feedings">
    <div class="subsection-title">
      <h2>Feedings</h2>
      <img 
        src="{% static 'images/foodicon.png' %}" 
        alt="food icon"
      />
      <img 
        src="{% static 'images/lightsicon.png' %}"
        alt="lights icon"
      />
      <img 
        src="{% static 'images/medicineicon.png' %}" 
        alt="medicine icon"
      />
    </div>
    <h3>Add a Feeding</h3>
    <form
      action="{% url 'add_feeding' tama.id %}" 
      method="post" 
      class="subsection-content"
    >
    {% if cat.fed_for_today %}
        <p class="fed">{{cat.name}} has been fed all their meals for today!</p>
      {% else %}
        <p class="unfed">{{cat.name}} might be hungry!</p>
      {% endif %}
      {% csrf_token %}
      {{ feeding_form.as_p }}
      <button type="submit" class="btn submit">Add Feeding</button>
    </form>
    <h3>Past Feedings</h3>
      {% if tama.feeding_set.all.count %}
      <table>
        <thead>
          <tr><th>Date</th><th>Meal</th></tr>
        </thead>
        <tbody>
          {% for feeding in tama.feeding_set.all %}
            <tr>
              <td>{{feeding.date}}</td>
              <td>{{feeding.get_meal_display}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p class="subsection-content">{{tama.name}} has never been fed 😟</p>
    {% endif %}
  </section>

  <section class="toys">
    <div class="subsection-title">
      <h2>Toys</h2>
      <img src="{% static 'images/gameicon.png' %}" alt="game icon" />
      <img src="{% static 'images/chaticon.png' %}" alt="chat icon" />
      <img src="{% static 'images/duckicon.png' %}" alt="duck icon" />
    </div>
    <h3>{{ tama.name }}'s Toys</h3>
    <div class="subsection-content">
      {% if tama.toys.count %}
        {% for toy in tama.toys.all %}
          <div class="toy-container">
            <div 
              class="color-block"
              style="background-color: {{ toy.color }}"
            ></div>
            <a href="{% url 'toys_detail' toy.id %}">
              <p>A {{ toy.color }} {{ toy.name }}</p>
            </a>
          </div>
        {% endfor %}
      {% else %}
        <p class="no-toys">{{tama.name}} doesn't have any toys 😞</p>
      {% endif %}
    </div>
    <h3>Available Toys</h3>
    <div class="subsection-content">
      <div class="subsection-content">
        {% if toys.count %}
          {% for toy in toys.all %}
            <div class="toy-container">
              <div 
                class="color-block"
                style="background-color: {{ toy.color }}"
              ></div>
              <a href="{% url 'toys_detail' toy.id %}">
                <p>A {{ toy.color }} {{ toy.name }}</p>
              </a>
              <div class="card-action">
                <form action="{% url 'assoc_toy' tama.id toy.id %}" method="post">
                    {% csrf_token %}
                  <button type="submit" class="btn">Add</button>
                </form>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <p class="all-toys">
            {{tama.name}} already has all the available toys 🥳
          </p>
        {% endif %}
    </div>
  </section>
</div>

{% endblock %}