{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/tama-detail.css' %}"
/>
<script defer src="{% static 'js/tama-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="tama-container">
  <div class="tama-img">
    <img 
      src="{% static 'images/sk8r-boi-cat.svg' %}" 
      alt="A skater boy tama"
    >
  </div>
  <div class="tama-details">
    <h1>{{ tama.name }}</h1>
    <h2>A {{ tama.age }} year old tamagotchi</h2>
    <p>{{ tama.description }}</p>
    <div class="tama-actions">
      <a href="{% url 'tamas_update' tama.id %}" class="btn warn">Edit</a>
      <a href="{% url 'tamas_delete' tama.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

<div class="feedings-toy-container">
  <section class="feedings">
    <div class="subsection-title">
      <h2>Feedings</h2>
      <img 
        src="{% static 'images/cat-cone.svg' %}" 
        alt="An ice cream cone tama"
      />
      <img 
        src="{% static 'images/cat-onigiri.svg' %}"
        alt="A tama as onigiri"
      />
      <img 
        src="{% static 'images/kitty-kabob.svg' %}" 
        alt="A kabob of kittens"
      />
    </div>
    <h3>Add a Feeding</h3>
    <form
      action="{% url 'add_feeding' tama.id %}" 
      method="post" 
      class="subsection-content"
    >
      {% csrf_token %}
      {{ feeding_form.as_p }}
      <button type="submit" class="btn submit">Add Feeding</button>
    </form>
    <h3>Past Feedings</h3>
      {% if tama.feeding_set.all.count %}
      <table>
        <thead>
          <tr><th>Date</th><th>Meal</th></tr>
        </thead>
        <tbody>
          {% for feeding in tama.feeding_set.all %}
            <tr>
              <td>{{feeding.date}}</td>
              <td>{{feeding.get_meal_display}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p class="subsection-content">{{tama.name}} has never been fed 😟</p>
    {% endif %}
  </section>
</div>

{% endblock %}